<div>
    <div class="expenseform">
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <div class="form-group">
                    <div>
                        <h2>Expense Form</h2>
                    </div>
                    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input id="date" type="date" formControlName="date" class="form-control" >
                        </div>
                        <div class="form-group">
                            <select name="category" id="category" formControlName="category" class="form-control" >
                                <option selected> Choose... </option>
                                <option *ngFor="let cat of category_list"> {{ cat.name }} </option>
                            </select>
                        </div>
<!-- 
                        <div *ngIf="expenseForm.value.category=='Others'">
                            <div class="form-group">
                                <input id="optionacategory" type="text" formControlName="optionacategory" 
                                    class="form-control" placeholder="Enter expense type...">
                            </div>
                        </div> -->

                        <div class="form-group">
                            <input id="cost" type="number" formControlName="cost" class="form-control"  placeholder="Enter cost...">
                        </div>

                        <div class="form-group">
                            <input id="note" type="text" formControlName="note" class="form-control" placeholder="Note...">
                        </div>
                        <div class="button">
                            <button type="button" [disabled]="!expenseForm.valid" class="btn btn-primary" 
                            (click)="addExpense()"> Add </button>
                        </div>

                    </form>
            </div>
        </div>
    </div>
</div>

<app-expenses-table [expenses_list]="expenses_list" (itemChanged)="editItem($event)" 
        (deleteItem)="deleteItem($event)"></app-expenses-table>